* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background-color: white;
    color: #585858;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 100%;
    line-height: 1;
}

header {
    background: linear-gradient(0.125turn, #FF9292, #6100FF);
    color: white;
    min-height: 100%;
    margin-bottom: 10em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    h1 {
        font-size: 4em;
        font-weight: 600;
        margin-bottom: 0.75em;
    }

    p {
        font-size: 1.2em;
        font-weight: 300;
        margin-bottom: 5em;
        width: 50%;
    }
}

p {
    line-height: 1.5;
}

.container {
    margin: 0 auto;
    width: 90%;
    min-width: 300px;
    max-width: 1080px;
}

.button {
    background: white;
    border-radius: 24px;
    box-shadow: 0 0 0 #6100FF40;
    color: #6100ff;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
    padding: 12px 48px;
    position: relative;
    text-decoration: none;
    transition: color 0.25s, box-shadow 0.25s;

    &:hover{
        box-shadow: 0 8px 10px #6100FF40;
    }
}

em {
    color: #6100FF;
    font-style: normal;
    font-weight: 600;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 1.2em;

    span {
        display: inline-block;

        &:after {
            content: "";
            background: linear-gradient(0.25turn, #FF9292, #6100FF);
            display: block;
            height: 4px;
            width: calc(100% + 48px);
            margin-top: 0.4em;
            margin-left: -24px;
        }
    }
}

.section {
    text-align: center;
    margin-bottom: 3em;
    
    p {
        width: 75%;
        min-width: 280px;
        max-width: 680px;
        margin: 0 auto 3em auto;
    }
}

.fira {
    font-family: "Fira Code", monospace;
}

.code {
    background: linear-gradient(0.25turn, #F6F6F6, #D7D7D7);
    padding: 3em 0;
    margin-bottom: 3em;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    pre {
        color: #585858;
        display: inline-block;
        font-family: "Fira Code", monospace;
        line-height: 1.5;
        text-align: left;
    }
}

.docs-link {
    font-size: 1.2em;
    font-weight: 600;
    color: #6100FF;
    display: inline-block;
    text-decoration: none;

    .fira {
        display: inline-block;
        transition: transform 0.25s;
    }

    &:after {
        content: "";
        background: #6100ff;
        display: block;
        height: 2px;
        width: 0;
        margin-top: 0.1em;
        opacity: 0;
        transition: width 0.25s, opacity 0.25s;
    }
    
    &:hover {
        .fira {
            transform: translateX(4px);
        }

        &:after {
            opacity: 1;
            width: calc(100% - 36px);
        }
    }
}

.get-bevy {
    background: linear-gradient(0.25turn, #FF9292, #6100FF);
    color: white;
    font-family: "Fira Code", monospace;
    font-size: 4em;
    font-weight: 300;
    padding-top: 1em;
    text-align: center;

    span {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        display: inline-block;
        margin-left: -0.35em;
    }

    .code {
        margin-top: 2em;
        font-size: 0.5em;
        padding: 0.8em;
    }
}

footer {
    text-align: center;
    padding: 5em 0;


    a {
        color: #FF9292;
        text-decoration: none;
        display: inline-block;
        transition: color 0.25s;

        &:after {
            content: "";
            background: #ff9292;
            display: block;
            height: 2px;
            width: 0;
            margin-top: 0.1em;
            opacity: 0;
            transition: width 0.25s, opacity 0.25s;
        }

        &:hover {
            &:after {
                opacity: 1;
                width: 100%;
            }
        }
    }

    a + a {
        margin-left: 2em;
    }

    p {
        margin-top: 1em;
    }
}
