* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: white;
  color: #585858;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 100%;
  line-height: 1;
}

header {
  background: linear-gradient(0.125turn, #FF9292, #6100FF);
  color: white;
  min-height: 100%;
  margin-bottom: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header h1 {
  font-size: 4em;
  font-weight: 600;
  margin-bottom: 0.75em;
}

header p {
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 5em;
  width: 50%;
}

p {
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  width: 90%;
  min-width: 300px;
  max-width: 1080px;
}

.button {
  background: white;
  border-radius: 24px;
  -webkit-box-shadow: 0 0 0 #ffffff40;
          box-shadow: 0 0 0 #ffffff40;
  color: #6100ff;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 700;
  padding: 12px 48px;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 0.25s, -webkit-box-shadow 0.25s;
  transition: color 0.25s, -webkit-box-shadow 0.25s;
  transition: color 0.25s, box-shadow 0.25s;
  transition: color 0.25s, box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.button:hover {
  -webkit-box-shadow: 2px 4px 6px #ffffff40;
          box-shadow: 2px 4px 6px #ffffff40;
}

em {
  color: #6100FF;
  font-style: normal;
  font-weight: 600;
}

h2 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 1.2em;
}

h2 span {
  display: inline-block;
}

h2 span:after {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(#FF9292), to(#6100FF));
  background: linear-gradient(0.25turn, #FF9292, #6100FF);
  display: block;
  height: 4px;
  width: calc(100% + 48px);
  margin-top: 0.4em;
  margin-left: -24px;
}

.section {
  text-align: center;
  margin-bottom: 3em;
}

.section p {
  width: 75%;
  min-width: 280px;
  max-width: 680px;
  margin: 0 auto 3em auto;
}

.fira {
  font-family: "Fira Code", monospace;
}

.code {
  background: -webkit-gradient(linear, left top, right top, from(#F6F6F6), to(#D7D7D7));
  background: linear-gradient(0.25turn, #F6F6F6, #D7D7D7);
  padding: 3em 0;
  margin-bottom: 3em;
}

.code .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.code pre {
  color: #585858;
  display: inline-block;
  font-family: "Fira Code", monospace;
  line-height: 1.5;
  text-align: left;
}

.docs-link {
  font-size: 1.2em;
  font-weight: 600;
  color: #6100FF;
  display: inline-block;
  text-decoration: none;
}

.docs-link .fira {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.docs-link:after {
  content: "";
  background: #6100ff;
  display: block;
  height: 2px;
  width: 0;
  margin-top: 0.1em;
  opacity: 0;
  -webkit-transition: width 0.25s, opacity 0.25s;
  transition: width 0.25s, opacity 0.25s;
}

.docs-link:hover .fira {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

.docs-link:hover:after {
  opacity: 1;
  width: calc(100% - 36px);
}

.get-bevy {
  background: -webkit-gradient(linear, left top, right top, from(#FF9292), to(#6100FF));
  background: linear-gradient(0.25turn, #FF9292, #6100FF);
  color: white;
  font-family: "Fira Code", monospace;
  font-size: 4em;
  font-weight: 300;
  padding-top: 1em;
  text-align: center;
}

.get-bevy span {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  display: inline-block;
  margin-left: -0.35em;
}

.get-bevy .code {
  margin-top: 2em;
  font-size: 0.5em;
  padding: 0.8em;
}

footer {
  text-align: center;
  padding: 5em 0;
}

footer a {
  color: #FF9292;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

footer a:after {
  content: "";
  background: #ff9292;
  display: block;
  height: 2px;
  width: 0;
  margin-top: 0.1em;
  opacity: 0;
  -webkit-transition: width 0.25s, opacity 0.25s;
  transition: width 0.25s, opacity 0.25s;
}

footer a:hover:after {
  opacity: 1;
  width: 100%;
}

footer a + a {
  margin-left: 2em;
}

footer p {
  margin-top: 1em;
}
/*# sourceMappingURL=styles.css.map */